{% extends "base.html" %}

{% block addhead %}
<meta name="viewport" content="initial-scale=1.0">
<meta charset="utf-8">
{% endblock addhead %}

{% block content %}
<div class="container">
    <div id='customer_info_div' class='customer_info col-sm-10'>
        <h2>Customer Info:</h2>
        <a href="{{ instance.get_absolute_url }}edit" class="btn btn-primary" role="button">Edit</a>
        <a href="{{ instance.get_absolute_url }}delete"
           onclick="return confirm('Are you sure want to delete this Customer?');"
           class="btn btn-danger" role="button">Delete</a></br>
        <table class="metadata_table">
            <tr>
                <td>Customer Id:</td>
                <td class="td-worktable">{{instance.id}}</td>
                <td>Source:</td>
                <td class="td-worktable">{{instance.source}}</td>
            </tr>
            <tr>
                <td>Created:</td>
                <td class="td-worktable">{{instance.created}}</td>
                <td>Modified:</td>
                <td class="td-worktable">{{instance.modified}}</br></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td> Modified by:</td>
                <td class="td-worktable">{{instance.modified_by}}</td>
            </tr>


            <tr>
                <td>Customer Name:</td>
                <td class="td-worktable">{{instance.fullName}}</td>
                <td>Phone 1:</td>
                <td class="td-worktable">{{instance.phone1}}</td>
            </tr>
            <tr>
                <td>Billing Address:</td>
                <td class="td-worktable" rowspan="2">{{instance.billStreet}}<br>{{instance.billCity}},
                    {{instance.billState}},{{instance.billZip}}
                </td>
                <td>Phone 2:</td>
                <td class="td-worktable">{{instance.phone2}}</td>
            </tr>
            <tr>
                <td></td>
                <td>Email:</td>
                <td class="td-worktable">{{instance.email}}</td>
            </tr>
        </table>
    </div>
{% endblock content %}

{% block right-pane %}
    <div id="map"></div>
    <div id="capture"></div>
    <script async defer type="text/javascript">
        var map;
        var lati = parseFloat("{{instance.lat}}");
        var long = parseFloat("{{instance.lng}}");
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: lati, lng: long},
                zoom: 19,
                mapTypeId: 'hybrid',
                keyboardShortcuts: false,
            });
            var marker = new google.maps.Marker({
                animation: google.maps.Animation.BOUNCE,
                position: {lat: lati, lng: long},
                map: map,
                title: "{{instance.billStreet}}"
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYA6304AZ4M-qvzuIXVnEaRNYftGu_cDM&callback=initMap"></script>
{% endblock right-pane %}

