{% extends "base.html" %}

{% block addhead %}
<meta name="viewport" content="initial-scale=1.0">
<meta charset="utf-8">
{% endblock addhead %}

{% block content %}
<div class="container">
    <div id='customer_info_div' class='customer_info col-sm-10'>
        <h2>Customer Info:</h2>
        <a href="{{ customer.edit }}edit" class="btn btn-primary" role="button">Edit</a>
        <a href="{{ instance.delete }}delete"
           onclick="return confirm('Are you sure want to delete this Customer?');"
           class="btn btn-danger" role="button">Delete</a></br>
        <table class="metadata_table">
            <tr>
                <td>Customer Id:</td>
                <td class="td-worktable">{{customer.id}}</td>
                <td>Source:</td>
                <td class="td-worktable">{{customer.source}}</td>
            </tr>
            <tr>
                <td>Created:</td>
                <td class="td-worktable">{{customer.created}}</td>
                <td>Modified:</td>
                <td class="td-worktable">{{customer.modified}}</br></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td> Modified by:</td>
                <td class="td-worktable">{{customer.modified_by}}</td>
            </tr>


            <tr>
                <td>Customer Name:</td>
                <td class="td-worktable">{{customer.fullName}}</td>
                <td>Phone 1:</td>
                <td class="td-worktable">{{customer.phone1}}</td>
            </tr>
            <tr>
                <td>Billing Address:</td>
                <td class="td-worktable" rowspan="2">{{customer.billStreet}}<br>{{customer.billCity}},
                    {{customer.billState}},{{customer.billZip}}
                </td>
                <td>Phone 2:</td>
                <td class="td-worktable">{{customer.phone2}}</td>
            </tr>
            <tr>
                <td></td>
                <td>Email:</td>
                <td class="td-worktable">{{customer.email}}</td>
            </tr>
        </table>
    </div>
{% endblock content %}



